<!DOCTYPE html>
<html>

  <head>
    <title>Python Flask Starter Application</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="static/stylesheets/style.css"> -->
  </head>

  <body>
    <script type="text/javascript">
    //console.log('{{term}}')
    // {% for result in results %}
    //   console.log("{{result}}");
    // {% endfor %}
    </script>
    <table>
      <tr>
        <td style= "width:30%;">
        <td>
            <h1>Hi there!</h1>
            <form action="{{ url_for('search') }}" method="post" class="search">
            <p>Enter Search:</p><input type="text" size="30" name="term" value="{{results.term}}">
            <input type="submit" value="Search" >
            </form>
            <a href="{{url_for('analysis')}}">Click here to Analysis</a>
          <p>Search Term:{{results.term}}</p>
          <p>Orignal Number of Tweets: {{results.onum}}</p>
          <p>Number after cleaning : {{results.fnum}}</p>
          <ul>
          {% for result in results.tweet %}
          <li>{{ result }}</li>
          {% endfor %}
          </ul>
    </table>

  </body>

</html>
